@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* html { */
    /* scrollbar-gutter: stable; */
    /* scroll-behavior: smooth; */
    /* scroll-padding: 15rem; */
/* } */

@keyframes view-transition-fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

::view-transition-old(root) {
    animation: view-transition-fade-out 0.1s ease-in-out both !important;
}

::view-transition-new(root) {
    animation: view-transition-fade-out 0.1s ease-in-out both reverse !important;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root) {
    animation: none !important;
  }
}

:root {
    --color-base: oklch(97% 0 0);
    --color-label: oklch(26.9% 0 0);
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: 300;
}

h3 {
    font-size: 15px;
    font-weight: 700;
}

@media (min-width: 600px) {
    h1 {
        font-size: 50px;
        font-weight: bold;
    }

    h2 {
        font-size: 40px;
        font-weight: 300;
    }

    h3 {
        font-size: 30px;
        font-weight: 700;
    }
}
