@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    /* scroll-padding: 15rem; */
}

@theme {
    --breakpoint-xs: 500px;
    --breakpoint-2xs: 365px;

    --font-primary: "Noto Sans JP", "monospace";

    --spacing-safe-top: env(safe-area-inset-top);
    --spacing-safe-bottom: env(safe-area-inset-bottom);
    --spacing-safe-left: env(safe-area-inset-left);
    --spacing-safe-light: env(safe-area-inset-right);

    --spacing-safe-x: env(safe-area-inset-left);
    --spacing-safe-y: env(safe-area-inset-bottom);

    /* ベースカラー */
    --color-base-light: var(--color-neutral-100);
    --color-base-dark: var(--color-neutral-800);
    --color-base: var(--color-base-light);

    /* メインカラー */
    --color-main-light: #E2421F;
    --color-main-dark: #E2421F;
    --color-main: var(--color-main-light);

    /* ラベルカラー */
    --color-label-light: var(--color-neutral-800);
    --color-label-dark: var(--color-neutral-100);
    --color-label: var(--color-label-light);

    --color-information: var(--color-sky-400);
    --color-success: var(--color-green-700);
    --color-danger: var(--color-red-600);
    --color-warning: var(--color-yellow-500);
    --color-disabled: var(--color-neutral-300);

    --color-base-accent: color-mix(in srgb, var(--color-base), var(--color-label) 5%);
}

@layer theme {
    .dark {
        --color-base: var(--color-base-dark);
        --color-main: var(--color-main-dark);
        --color-label: var(--color-label-dark);
        --color-success: var(--color-green-500);
        --color-danger: var(--color-red-500);
        --color-warning: var(--color-yellow-300);
        --color-disabled: var(--color-neutral-500);

        --color-base-accent: color-mix(in srgb, var(--color-base), var(--color-label) 5%);
    }
}

@layer base {
    h1 {
        @apply text-xl md:text-2xl font-bold;
    }

    h2 {
        @apply text-lg md:text-xl font-bold;
    }

    h3 {
        @apply text-sm md:text-lg font-bold;
    }

    section {
        @apply transition-all duration-300;
    }

    input[type="checkbox"] {
        @apply sr-only;
    }
}

/* @layer components { */
.flex-center {
    @apply flex items-center justify-center;
}

.inline-link {
    @apply transition-all duration-300 text-sky-700 dark:text-sky-400 hover:text-sky-200 underline;
}

.toggle-switch:has(input[type="checkbox"]) {
    @apply relative cursor-pointer inline-block
            before:content-[''] before:transition-all before:duration-200 before:w-15 before:h-7 before:rounded-lg before:border-label/30 before:border-2 before:inset-shadow-black before:inset-shadow-sm/50
            after:content-[''] after:transition-all after:duration-100 after:absolute after:top-1 after:left-1.25 after:w-5 after:h-5 after:rounded-lg after:bg-label after:shadow-black after:shadow-lg/50;
}
.toggle-switch:has(input[type="checkbox"]:checked) {
    @apply before:bg-information/50 after:bg-main after:translate-x-7.5;
}

/* @layer componentsから出すと動く */
.text-field > input, textarea {
    @apply transition-all duration-100 relative p-1 bg-base rounded-sm border-label border-b-2;
}

.text-field > input:focus, textarea:focus {
    @apply bg-label/3 border-label/20 ring-label ring-1;
    outline: none;
}
